<div class="card shadow-lg mx-3 card-profile-bottom">
    <div class="card-body p-3">
    <div class="row gx-4">
        <div class="col-auto">
        <div class="avatar avatar-xl position-relative">
            <img src="/img/admin.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
        </div>
        </div>
        <div class="col-auto my-auto">
        <div class="h-100">
            <h5 class="mb-1">
            {{name}}
            </h5>
            <p class="mb-0 font-weight-bold text-sm">
            Admin
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid py-2 p-3">
    <div class="row mt-3">
    <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card">
        <div class="card-header pb-0 p-3">
          <div class="col-md-6">
          {{#if message}}
          <div class="alert alert-{{message.type}} alert-dismissible fade show w-22" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text text-white"><strong>{{message.status}}</strong> {{message.message}}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          {{/if}}
          </div>
            <div class="d-flex justify-content-between">
                <h6 class="mb-2 text-dark text-gradient font-weight-bold">Settings</h6>
            </div>
        </div>
            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div class="ms-4">
                            <a href="/settings/profile" class="text-dark text-gradient">Edit Profile</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div class="ms-4">
                          <a type="button" class="text-dark text-gradient" data-bs-toggle="modal" data-bs-target="#updatePassword">Update Password</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div class="ms-4">
                          <a type="button" class="text-dark text-gradient" data-bs-toggle="modal" data-bs-target="#deleteAccount">Hapus Akun</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccount" aria-hidden="true">
      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
          <form action="/auth/delete-account" method="POST">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Apakah kamu yakin?</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Akun ini akan dihapus dari database, kamu tidak akan dapat menggunakannya kembali. Jika ingin menggunakannya kembali kamu harus mendaftarnya terlebih dahulu.</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn bg-gradient-primary">Delete</button>
            <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="modal fade" id="updatePassword" tabindex="-1" role="dialog" aria-labelledby="updatePassword" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/auth/update-password" method="POST">
              {{#if password}}
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Password Sekarang</label>
                <input type="password" name="currentPassword" class="form-control" required>
              </div>
              {{/if}}
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Password Baru</label>
                <input type="password" name="newPassword"  class="form-control" required>
              </div>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Konfirmasi Password Baru</label>
                <input type="password" name="newConfirmPassword" class="form-control" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn bg-gradient-primary">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

{{!-- <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/settings/profile"><i class="far fa-trash-alt me-2"></i>Delete</a> --}}