<div class="section">
    <p class="lead"> Layani Masyarakat dengan sepenuh hati</p>
</div>

<div class="row">
    <form action="/signup" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="fullName">
                <label for="title">Nama Lengkap</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="email">
                <label for="title">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="password">
                <label for="title">Password</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Daftar" class="btn">
             <p class="text-center text-muted mt-5 mb-0">Sudah punya akun?<a href="/" class="fw-bold text-body"><u>Login</u></a></p>
        </div>
    </form>
</div>